input[type="text"].form-control, .custom-file-input{
    border-radius: 0 !important;
}
form{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.09) !important;
}

label{
    margin-top: 60 !important;
    color:rgba(0,0,0,0.5);
    font-weight: bold;
}
nav.navbar-dark{
    padding: 14px 12px !important;
}
.navbar-brand{
    color:rgba(0,0,0,0.7) !important;
    font-weight:600;
    padding: 7px;
    font-size: 14px;
    background-color: white;
}
.time{
    color:white;
    font-weight: 600;
    
}
.animate{
    animation: animate_time 1.9s infinite;
}
@keyframes animate_time{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    0%{
        opacity: 1;
    }

  
}
.question_container{
    overflow-y: scroll;
    height: 76vh;
    background-color: #efefef;
    margin-left: 40px;
    padding-bottom: 40px;
}
.question{
    background-color: white;
    margin-top: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.06);
    padding: 20px;
}
.number{
font-weight:600 ;
font-style: italic;

}
.form-check{
    margin-top: 23px;
}
.question_text{
    font-size: 18px;
    color:rgba(0,0,0,0.7);
    font-weight: 500;
    margin-top: 12px;
}
.row .number_container{
    background-color: white;
    position:absolute;
    bottom: 0;
    padding-top: 10px !;
    display: flex;
    border: 1px solid rgba(0,0,0,0.2);
}
.form-check-input{
    height: 19px;
    width:19px
}
.form-check-label{
    margin-left: 15px;
    font-weight: 500;
    font-size:17px;
}
.btns{
    position:fixed;
    top:75px;

    right:112px; 
    margin-top: 0px;
/* margin-top: 30px;
margin-bottom:50px;
float: right;
margin-left: 50px; */
}
.row .number_container .btn{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 39px;
    width: 39px;
}

.left{
    background-image: url(https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/18813185_315455205555001_3268983149491027289_n.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_eui2=AeFGDIeITSIBMTrXEpgTqziGLVQSn770kqYtVBKfvvSSpk2b2XjrTviztGWWt7SbjIjkjHRpspGZsGo_XlA5ei3m&_nc_ohc=8uBtQiCdDwcAX9pnMwv&_nc_ht=scontent-los2-1.xx&oh=3a712d5709fa65d9cdf633347d80289c&oe=5EFE5DE9);
     height: 100vh;
     background-repeat: no-repeat;
     background-size: cover;
     border-right: 1px solid rgba(0,0,0,0.5);
}
.right{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_form{
    padding: 30px 20px 30px 20px;
    width: 70%;
    box-shadow: 0 0 0 0 white !important;
    border: 1px solid rgba(0,0,0,0.1);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="text"].input-box{
    width: 330px;
    border:1px solid rgba(0,0,0,0.2);
    font-size: 15px;
    border-radius: 3px;
    outline-color: #183fec !important;
    /* text-transform: capitalize !important; */
    outline-width: 0.1%;
    -webkit-user-select: none;
    margin-top: 4px;
    /* border-bottom:1px solid rgba(0,0,0,0.3); */
    padding:9px 0 10px 10px;
}
label.label_login{
font-size: 14px;
margin-top: 30px;

}
.login_btn{
    outline-color: white !important;
    background-color: #183fec;
    width:300px;
    border:none;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 30px;
}

.login-text{
    margin-top: 40px;
    margin-bottom: 40px;
    color:rgba(0,0,0,0.7)
}
.f{
  color:  rgba(11, 141, 247, 0.6)
}




.dash_logo{
   
    font-weight: bolder;
    color: #3297d3;
    font-family: 'muli', sans-serif;
    font-size: 23px;
    margin: 10px 10px 10px 0;
    
}
.dash{
    /* background-color: #e3e8ee !important; */
    /* background-color: red !important; */
    animation: animate__ 2.2s linear;
}
.sidebar{
    background-color: white;
    height: inherit;
    /* #fafafc; */
    position: fixed;
    padding: 10px 23px;
    font-family: -apple-system , BlinkMacSystemFont , "Segoe UI" , "Roboto" , "Helvetica Neue" , "Ubuntu" , sans-serif;
    
}

.sidebar_item{
    margin-top: 19px;
    font-family: -apple-system , BlinkMacSystemFont , "Segoe UI" , "Roboto" , "Helvetica Neue" , "Ubuntu" , sans-serif;
    color:rgba(0,0,0,0.7);
    display: flex;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
    font-weight: 500;

}

.current_list{
    color:royalblue;
    font-weight: 600;
}
.sr .sidebar_text{
    margin-left: -12px;
}
.sidebar_text{
    margin-left: 12px;
}
.cd{

    background-color: white;
    padding:20px;
    cursor:  pointer !important;
    border-radius: 4px;
    border:1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    
}
.cd h5{
    font-size: 16px;
    font-weight: 700;
    color:rgba(0,0,0,0.7)
}
.cd p{
    font-size: 12px;
    font-weight: 500;
    margin-top: 13px;
    color:rgba(0,0,0,0.5)
}
.dashboard_right{
    padding:10px 30px 10px 80px;
    right:0 !important;
    background-color:  #e5e3ee;
    min-height: 100vh !important;
    position: absolute !important;
    
}

.icon__{
    color:white;
    display: none;
    justify-content: center;
    align-items: center;

}
span.user__{
    margin-bottom: -10px;
    margin-left: 20px;
    position: absolute;
}
.schedule{
    margin-top: 53px;
    border-radius: 4px;
    padding: 20px 0 40px 50px;
    box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.12), 0 3px 6px 0 rgba(0,0,0, 0.12);
}
.cr{
    color:white;
    background-color: #007bff;
    padding:8px 2px;
    animation: animate__ 0.5s linear;
    border-radius: 4px;

}
.cr_icon{
    width:35px !important;
    height: 35px !important;
    color:'white';
    margin-bottom: -6px;
 
}

.exam{
    height:70vh !important;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.exam_form{
    box-shadow: 0 0 0 0 white !important;
    width:400px
}
.dd .col-md-6{
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 0px;
    margin-top: 40 !important;
}